---
import Links from "../components/Links.astro";
import Shields from "../components/Shields.astro";
import Timeline from "../components/Timeline.astro";
import Root from "../layouts/Root.astro";
---

<Root>
  <section class="flex flex-col gap-8">
    <!-- <div class="relative w-full h-[256px]">
      <div class="absolute w-full h-full">
        <Gradient />
      </div>
      <div class="p-8 absolute">
        <div class="mb-8">
          <h1>Hi, I'm Julian Atkin.</h1>
          <p>
            I build <strong>human-centric</strong>, <strong
              >socially-relevant</strong
            > projects.
          </p>
        </div>
        <Shields />
      </div>
    </div> -->
    <div
      style="background: url('./gradient.png'); background-size: cover;"
      class="w-full h-18 rounded-lg"
    >
    </div>
    <div>
      <h1>Hi, I'm Julian Atkin.</h1>
      <p>
        I build <strong>human-centric</strong>, <strong
          >socially-relevant</strong
        >
        projects.
      </p>
    </div>
    <Links />
    <Shields />
    <Timeline />
    <!-- <div
      style="background: linear-gradient(to top, black, transparent);"
      class="-mt-48 h-48 z-20"
    > -->
  </section>

  <!-- <br />
    10x Node.js, Next.js, AWS architect.

    <p class="text-neutral-700">
      Node.js | Next.js | NestJS | PostgreSQL | MongoDB | SNS | SQS | EC2 | S3 |
      Fargate
    </p> -->
</Root>
