---
import ArrowIcon from "./ArrowIcon.astro";

const {href, label} = Astro.props;
---
<a
    class="flex items-center hover:text-neutral-800 dark:hover:text-neutral-100 hover:underline decoration-dotted"
    rel="noopener noreferrer"
    target="_blank"
    href={href}
>
    <ArrowIcon />
    <p class="ml-2 h-7">{label}</p>
</a>